{% extends 'base.html.twig' %}

{% block title %}Un.e Acteur.trice{% endblock %}

{% block body %}
<h2 class="border border-dark rounded p-2 m-2 text-white bg-primary">{{actor.prenom}} {{actor.nom}}</h2>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

        <img src="{{(actor.photo) }}" style="width:300px"><br><br>

        {%for movie in actor.movies %}
            - {{movie.title}}<br>
        {% endfor %}
        <a href="{{ path('modifactor', {'id':actor.id}) }}">MODIFIER</a><br>

        <hr>

{% endblock %}